<!--Displays to the user that no books are present.-->
<br>
<br>
<br>
<br>
<div align="center">
	<h1 class="text-success text-center">No Books Present</h1>
	<br>
	<img src="~/img/No_Book_Icon.png">
	<br>
</div>
<br>

